apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: microservices
data:
  # Settings for user-service
  spring.application.name: "UserService"
  server.port: "8080"
  
  # Профиль Spring
  spring.profiles.active: "kubernetes"
  
  # JPA/Hibernate settings
  spring.jpa.hibernate.ddl-auto: "none"
  spring.jpa.show-sql: "true"
  spring.jpa.open-in-view: "false"
  spring.jpa.properties.hibernate.format_sql: "true"
  spring.jpa.properties.hibernate.default_schema: "public"
  
  # Liquibase
  spring.liquibase.change-log: "classpath:db/changelog/master-changelog.xml"
  spring.datasource.driver-class-name: "org.postgresql.Driver"
  
  # Jackson
  spring.jackson.serialization.write-dates-as-timestamps: "false"
  spring.jackson.date-format: "yyyy-MM-dd"
  
  # Redis Cache
  spring.cache.type: "redis"
  spring.cache.redis.time-to-live: "600000"
  
  # Redis Connection (прямые значения, так как переменные окружения не подхватываются)
  spring.data.redis.host: "redis-service"
  spring.data.redis.port: "6379"
  
  # Management endpoints
  management.endpoints.web.exposure.include: "*"
  management.endpoint.health.show-details: "always"
  management.server.port: "8080"

