apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: microservices
  labels:
    app: gateway-service
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: gateway-service

