apiVersion: v1
kind: Service
metadata:
  name: order-postgres-service
  namespace: microservices
  labels:
    app: order-postgres
    component: database
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: order-postgres


