apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: order-postgres
  namespace: microservices
  labels:
    app: order-postgres
    component: database
spec:
  serviceName: order-postgres-service
  replicas: 1
  selector:
    matchLabels:
      app: order-postgres
  template:
    metadata:
      labels:
        app: order-postgres
        component: database
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_DB
              value: "os_db"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: order-secrets
                  key: postgres-username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: order-secrets
                  key: postgres-password
          # Health checks
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U postgres -d os_db
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U postgres -d os_db
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
          volumeMounts:
            - name: order-db-data
              mountPath: /var/lib/postgresql/data
              subPath: postgres
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
  volumeClaimTemplates:
    - metadata:
        name: order-db-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi


