apiVersion: v1
kind: Service
metadata:
  name: auth-postgres-service
  namespace: microservices
spec:
  selector:
    app: auth-postgres
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  type: ClusterIP # Только внутри кластера